:root {
    --primary-color: #337ab7;
    --secondary-color: #ccc;
}

body {
    overflow-x: hidden;
}

footer {
    border-top: 1px solid var(--secondary-color);
}

.footer-list {
    margin-top: 10px;
}

.footer-list li {
    margin-top: 10px;
}

.footer-list li:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .columns {
        flex-direction: column;
    }

    .column.is-1 {
        display: none;
    }

    .column.is-two-thirds {
        margin-top: 1rem;
    }
}

@media (min-width: 769px) {
    .vertical-line {
        width: 1px;
        height: 100%;
        background-color: var(--secondary-color);
        margin: 0 auto;
    }
}

.hero-body {
    background: rgba(255, 255, 255, 0.27);
    background-image: url('https://wallpapercave.com/wp/wp2028752.jpg');
    background-size: cover;
    background-position: 100%;
}

.results-item {
    margin: 1rem 1rem 0 auto;
}

.results-item:hover {
    border: 1px solid var(--primary-color);
}

.city-navbar {
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}

.column-style {
    border-right: 1px solid var(--secondary-color);
}

.chart-container {
    position: relative;
    width: 100%;
}

.chart-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.chart-container::before {
    content: "";
    display: block;
    padding-top: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .column.is-4 {
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .columns.is-multiline .column.is-4 {
        flex: 100%;
        max-width: 100%;
    }
}

.navbar.city-navbar {
    max-height: 300px;
    overflow-y: auto;
}

.navbar-brand a {
    margin-right: 15px;
}

.navbar-brand i {
    margin-right: 10px;
}

.navbar.controllers {
    display: flex;
    justify-content: flex-end;
    overflow-x: auto;
    white-space: nowrap;
}

.container-controllers {
    display: flex;
    align-items: flex-end;
}

.table-container {
    position: relative;
    top: 20px;
    left: 20px;
    width: 100%;
    overflow-x: auto;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}

/* Estilos para a tabela */
.container-table {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    padding-left: 20px;
}

table {
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
}

.delete-button {
    margin-bottom: 10px;

}

@media (max-width: 600px) {
    .container {
        justify-content: center;
        padding-top: 0;
    }
}

.hero.is-fullheight {
    display: flex;
    align-items: center;
}

.columns.is-multiline.is-gapless {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
}

.column.is-one-third {
    flex: 0 0 calc(33.33% - 20px);
    padding: 0 10px;
}

.button.is-fullwidth {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .column.is-one-third {
        flex-basis: 100%;
    }
}