extends default

block content
  .navbar.city-navbar
    .container
      .navbar-brand
        span.navbar-item City:  
        span 

  #city.columns.is-multiline
    .column.is-4.column-style
      .chart-title.has-text-centered
        p.has-text-centered Temperature (
         strong &deg;C
         | ):
      .chart-container
        canvas#tempcchart
    .column.is-4.column-style
      .chart-title
        p.has-text-centered TTemperature (
         strong &deg;F
         | ):
      .chart-container
        canvas#tempfchart
    .column.is-4.column-style
      .chart-title
        p.has-text-centered Humidity (
         strong %
         | ):
      .chart-container
        canvas#humiditychart



  script(src='./static/js/script.js' data-sensor=JSON.stringify(sensor))  
  script(src='./static/js/vendor/momentjs.min.js')   
  script(src='https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js')  
