extends default

block content   
  section.hero.is-large
    table
    tr
      td
        a(href='#') Link 1
      td
        a(href='#') Link 2
      td
        a(href='#') Link 3
    tr
      td
        a(href='#') Link 4
      td
        a(href='#') Link 5
      td
        a(href='#') Link 6


  script(src='../static/js/script.js')  