doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title="WeatherPT"
    link(rel="shortcut icon", href="../static/imgs/kickball-clipart-kids-17-3222846518.pngx", type="image/x-icon")
    link(rel="stylesheet", href="../static/css/style.css")
    link(rel='stylesheet' href='../static/css/vendor/bulma-0.9.4.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    script(src='../static/js/vendor/jquery-3.7.0.min.js')
  body
nav.navbar.has-navbar-fixed-top.has-shadow
  .navbar-brand
    a.navbar-item(href='/dashboard')
      img(src='../static/imgs/weatherpt-removebg-preview.png' height='28' width='112')
    a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarMenu')
      span(aria-hidden='true')
      span(aria-hidden='true')
      span(aria-hidden='true')
  #navbarMenu.navbar-menu
    .navbar-end
      .navbar-item
        form(action='/logout' method='POST')
          button.button(type='submit') Log Out

.navbar.city-navbar
  .container
    .navbar-brand
      a.is-flex.is-align-items-center(style="margin-left: 15px")
       i.fas.fa-user
       | User's
      a.is-flex.is-align-items-center(href="/dashboard/sensor")
       i.fas.fa-cloud
       | Sensor's
block content

footer.footer
  .content.has-text-centered
    p
      strong WeathePT
      |  by 
      a(href='https://github.com/TF8088') Tiago F.
      |  The source code is licensed
      a(href='https://github.com/TF8088')  MIT






