extends default

block content
 .navbar.controllers
  .container-controllers
    .navbar-brand
      button.button.m-3.is-success(onclick='openModal()') Add Sensor 

 #sensorModal.modal.modal-background
  .modal-card
    header.modal-card-head
      p.modal-card-title Add New Sensor
      button.delete(onclick='closeModal()')
    section.modal-card-body
      form
        .field
          label.label Nome do Sensor
          .control
            input.input(type='text' placeholder='Sensor Name' id='sensorName')

        .field
          label.label IP do Sensor
          .control
            input.input(type='text' placeholder='Sensor IP' id='sensorIP')

        .field
          label.label Sensor City
          .control
            input.input(type='text' placeholder='City' id='cityName')

    footer.modal-card-foot
      button.button.is-success(onclick='saveSensor()') Save changes
      button.button(onclick='closeModal()') Cancel
      div.notification.is-danger.is-hidden.is-small#errorNotification Erro: Dados inválidos!



 .container-table
      table
        thead
          tr
            th Name
            th IP
            th City
            th Delete
        tbody#sensorTableBody

 script(src='../static/js/script.js')
